.header {
	display: flex;
	position: relative;
	align-items: center;
	margin: $grid-gap-sm auto;
	overflow: hidden;
	background: var(--cd-xlight-gray);
	background-position: center;
	background-size: cover;
	@include full-width;

	@include breakpoint(medium) {
		margin: $grid-gap auto;
	}

	&--fullHeight {
		@include full-height;
	}
}

.container {
	@include make-container(wide);
}

.content {
	margin: rem(100) 0;

	@include breakpoint(medium) {
		margin: ($mg-vertical * 2) 0;
	}

	&--clamped {
		max-width: rem(680);
	}
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	transition: 1s opacity ease-out;
	background-position: center;
	background-size: cover;
}

.cta {
	//
}

.title {
	//
}

.subTitle {
	//
}

.image {
	//
}
