.section {
	//
}

.container {
	//
}

.list {
	@include no-bullet;
	display: grid;
	grid-template-columns: auto;
	gap: $mg-vertical-sm;
	margin: #{$mg-vertical-sm / 2} 0 0;
	padding: 0;

	@media screen and (--bp-medium) {
		grid-template-columns: repeat(2, 1fr);
		gap: $mg-vertical;
		margin: #{$mg-vertical / 2} 0 0;
	}

	@media screen and (--bp-large) {
		grid-template-columns: repeat(4, 1fr);
		gap: $mg-vertical-sm;
	}
}

.item {
	display: flex;
	flex-direction: column;

	> * {
		flex-grow: 1;
		flex-shrink: 0;
	}
}
