.nav {
	will-change: transform, height;

	@media screen and (--bp-medium-down) {
		overflow: hidden;
	}

	@media screen and (--bp-medium-down) {
		//display: none;
		position: absolute;
		top: calc(100% - #{rem($grid-gap-sm)});
		right: $grid-gap-sm;
		transition: box-shadow 800ms ease-out 300ms;

		@media screen and (--bp-medium) {
			top: calc(100% - #{rem($grid-gap)});
			right: $grid-gap;
		}

		&--active {
			box-shadow: $global-drop-shadow;
		}
	}
}

.item {
	@include text-sm;
	@include font-accent;
	font-style: none;

	@media screen and (--bp-large) {
		&:not(:last-child) {
			margin-right: rem(32);
		}
	}

	@media screen and (--bp-medium-down) {
		display: block;
		padding: rem(8) rem(16);

		&:first-child {
			padding-top: rem(16);
		}

		&:last-child {
			padding-bottom: rem(16);
		}
	}
}

.link {
	@include text-link;
	color: $cd-green;
	font-weight: inherit;
	text-transform: inherit;
	cursor: pointer;
}

.menu {
	@media screen and (--bp-medium-down) {
		display: block;
		transition: transform 500ms ease-in-out;
		transition-delay: 0.4s;
		background: var(--cd-white);
		box-shadow: none;
	}
}
